{
    "plugins": ["babel-plugin-source-map-support", "@babel/plugin-transform-runtime"],
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "node": "16.19.1"
        }
      }]
    ]
  }
